<p><strong>Lives in: </strong>St. Louis, MO</p>
<p><strong>Works at: </strong><a href="http://topopps.com/">TopOpps</a></p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-pencil fa-lg main-list-item-icon"></span>
    <a id="blog" href="http://brianschiller.com/blog"> Blog</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-paper-plane fa-lg main-list-item-icon"></span>
    <a id="email" href="mailto:bgschiller@gmail.com"> Email</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/bgschiller"> GitHub</a>
  </li>
  <!--
  <li class="main-list-item">
    <span class="fa fa-heart fa-lg main-list-item-icon"></span>
    <a href="#">Things I Like</a>
  </li>-->
</ul>
